@font-face {
    font-family: "HankenGrotesk";
    src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: hsl(221, 100%, 96%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: HankenGrotesk, sans-serif;
}
.entero {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 10px 40px rgba(0,0,0,0.1);
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.puntos {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    box-shadow: 0px 10px 40px rgba(0,0,0,0.15);
    border-radius: 15px;
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.puntos p:last-of-type {
    max-width: 240px;
    text-align: center;
}
.score > h1{
    margin-bottom: 2px;
}
.score > p{
    margin-top: 2px;
    display: block;
    max-width: 50%;
}
.score {
    height: 130px;
    width: 130px;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.summary > div {
    margin: 10px;
    font-weight: bold;
    width: 75%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px;
}
.summary > div > div:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
}
.reaction {
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.1);
}
.memory {
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.1);
}
.verbal {
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.1);
}
.visual {
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.1);
}
.summary button {
    width: 75%;
    padding: 12px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    background-color: hsl(224, 30%, 27%);
    color: white;
    cursor: pointer;
    margin: 15px auto;
}
.nums {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
.nums > p {
    color: black;
    margin: 0;
    padding-right: 5px;
}
.nums > span {
    color: gray;
}

@media screen and (max-width: 768px) {
    .entero {
        grid-template-columns: 1fr;
        margin: 10px;
    }
}