# Avoid accidental upload of the Sketch and Figma design files
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore

# === Dependencias ===
node_modules/

# === Archivos generados por el build ===
dist/
build/
out/

# === IDE JetBrains (WebStorm, IntelliJ, etc.) ===
.idea/
*.iml

# === Logs ===
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === Env ===
.env
.env.*.local

# === Sistemas operativos ===
Thumbs.db
