@font-face {
    font-family: 'fuente bonita';
    src: url("./images/fuentes/file.woff2");
    font-style: normal;
}
.petit-formal-script-regular {
    font-family: "Petit Formal Script", cursive;
    font-weight: 400;
    font-style: normal;
}
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header {
    background-image:
            linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)),
            url("./images/claveles-difuminados.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    width: 100%;
    padding: 35px 0;
}
h1 {
    font-family: "fuente bonita", sans-serif;
    padding: 0;
    text-shadow: 1px 1px 4px goldenrod;
    font-size: xxx-large;
}
.texto {
    font-weight: bold;
}
h4, .texto p {
    font-family: "Petit Formal Script", cursive;
    font-size: 20px;
}
h2 {
    font-family: "fuente bonita", sans-serif;
    font-size: 28px;
    margin-top: 5px;
}
.ceremonia, .canciones{
    background-color: #e1e1e1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}
.ellachulapas, .tarjcanciones {
    display: flex;
    background: white;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,.12);
    overflow: hidden;
    max-width: 600px;
    align-items: stretch;
}
.ellachulapas .texto, .tarjcanciones .texto {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: darkred;
}
.ellachulapas img {
    width: 40%;
    height: auto;
    object-fit: cover;
}
.itinerario {
    background-image:
            linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)),
            url("./images/fondo-claveles2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    font-family: "fuente bonita", sans-serif;
    text-shadow: 1px 1px 4px goldenrod;
    font-weight: bold;
}
.itinerario .horas {
    font-family: "Petit Formal Script", cursive;
}
.itinerario h2{
    font-size: 1.5rem;
}
.itinerario p {
    margin: 8px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
}
.albumfotos, .dudas {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e1e1e1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 40px 0;
    font-weight: bold;
}

.tarjfotos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 10px;
    background-color: white;
    box-shadow: 0 6px 20px rgba(0,0,0,.12);
    border-radius: 12px;
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    overflow: hidden;
}
.tarjfotos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.tarjfotos h2 {
    text-align: center;
    font-family: "fuente bonita", sans-serif;
    color: darkred;
    margin-bottom: 10px;
}
.tarjfotos .texto {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: darkred;
}
.asistencia {
    background-image:
            linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)),
            url("./images/claveles-fondo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
    width: 100%;
    padding: 10px 0 30px 0;
    font-family: "fuente bonita", sans-serif;
    font-weight: bold;
}

.alojamiento {
    background-image:
            linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)),
            url("./images/fondo-claveles3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    font-weight: bold;
}
.alojamiento p span {
    font-weight: bolder;
    font-size: larger;
    text-shadow: 1px 1px 3px darkgoldenrod;
}
.tarjDudas {
    text-align: center;
    background-color: white;
    box-shadow: 0 6px 20px rgba(0,0,0,.12);
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
    overflow: hidden;
    padding: 20px 0;
    color: darkred;
}
.alojamiento p, .tarjDudas p {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 20px 20px;
}

/* cuenta atrás*/
.countdown-timer {
    align-items: center;
    background-image:
            linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
            url("./images/chulapos-bailando.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.85);
    font-weight: 600;
    padding: 16px;
    text-align: left;
    width: 100%;
}
.countdown-timer .countainer-ul {
    display: flex;
    justify-content: space-evenly;
    max-width: 600px;
}
.countdown-timer-ul {
    margin: auto auto 15px auto;
    position: relative;
    text-align: center;
    transition: opacity 0.7s ease-in-out;
    width: 40%;
}
.countdown-timer-ul .deadline-label {
    font-size: 16px;
    margin-bottom: 5px;
    margin-right: 10%;
    text-align: right;
}
.countdown-timer .date-item {
    text-align: center;
    width: 75px;
}
.countdown-timer ul {
    margin-bottom: 0px;
    padding: 0px;
}
.countdown-timer ul li span {
    display: block;
    font-size: 2.5rem;
}
li {
    display: inline-block;
    font-size: 1em;
    list-style-type: none;
    padding: 0.2em;
}
li p {
    font-family: "fuente bonita", sans-serif;
    font-size: 18px;
}
footer {
    background-color: #e1e1e1;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
footer img {
    align-self: center;
}
/* BOTÓN UNIVERSAL */
.btn {
    flex-grow: 0;
    flex-shrink: 0;
    width: auto;
    display: inline-block;
    align-self: center;
    padding: 10px 20px;
    background-color: darkred;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-family: "fuente bonita", sans-serif;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s ease;
    white-space: nowrap;
}

.btn:hover {
    background-color: #590016;
}
