@font-face {
    font-family: 'fuente bonita';
    src: url("./images/fuentes/file.woff2");
    font-style: normal;
}
.petit-formal-script-regular {
    font-family: "Petit Formal Script", cursive;
    font-weight: 400;
    font-style: normal;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    text-shadow: 2px 2px 2px goldenrod;
    font-size: xxx-large;
}

h1, .texto h2 {
    font-family: "fuente bonita";
    padding: 0;
}
header {
    background-image:
            linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)),
            url("./images/claveles-difuminados.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    width: 100%;
    padding: 50px 0;
}
h4, .texto p {
    font-family: "Petit Formal Script";
}
.ceremonia, .canciones{
    background-color: #E3E2D9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}
.ellachulapas, .tarjcanciones {
    display: flex;
    background: white;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,.12);
    overflow: hidden;
    max-width: 600px;
}
.ellachulapas .texto, .tarjcanciones .texto {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: darkred;
}
.ellachulapas img {
    width: 40%;
    object-fit: cover;
}
.ellachulapas button {
    margin-top: 20px;
    border-radius: 10px;
    color: #E3E2D9;
    background-color: darkred;
    border-color: #590016;
}
.itinerario {
    background-image:
            linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)),
            url("./images/fondo-claveles2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    width: 100%;
    padding: 30px;
    font-family: "fuente bonita";
}
.itinerario .horas {
    font-family: "Petit Formal Script";
}
.albumfotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E3E2D9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 40px 0;
}

.tarjfotos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 10px;
    background-color: white;
    box-shadow: 0 6px 20px rgba(0,0,0,.12);
    border-radius: 12px;
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    overflow: hidden;
}
.tarjfotos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.tarjfotos h2, .tarjfotos h2 {
    text-align: center;
    font-family: "fuente bonita";
    color: darkred;
    margin-bottom: 10px;
}
.tarjfotos button {
    margin-top: 20px;
    border-radius: 10px;
    color: #E3E2D9;
    background-color: darkred;
    border-color: #590016;
}
.tarjfotos .texto {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: darkred;
}
.asistencia {
    background-image:
            linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)),
            url("./images/claveles-fondo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
    width: 100%;
    padding: 30px 0;
    font-family: "fuente bonita";
}
.asistencia h2 {
    text-shadow: 2px 2px 2px darkred;
}
.asistencia button {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    color: #590016;
    background-color: #E3E2D9;
    border-color: #590016;
}
.alojamiento {
    background-image:
            linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)),
            url("./images/fondo-claveles3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
    width: 100%;
    padding: 30px 0;
}
.alojamiento h2 {
    font-family: "fuente bonita";
    font-size: 36px;
}
.alojamiento p {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 20px;
    font-family: "Petit Formal Script";
    font-weight: bold;
}
.alojamiento p span {
    font-weight: bolder;
    font-size: larger;
}
